<h1>Students</h1>

<form method="get">

    <!-- SEARCH -->
    <input type="text"
           name="search"
           placeholder="Search student..."
           value="{{ request.GET.search }}">

    <!-- COURSE FILTER -->
    <select name="course">

        <option value="">All Courses</option>

        {% for course in courses %}

            <option value="{{ course.id }}"
                    {% if request.GET.course == course.id|stringformat:"s" %}
                    selected
                    {% endif %}
            >
                {{ course.title }}
            </option>

        {% endfor %}

    </select>

    <button type="submit">Filter</button>

</form>

<br>

{% if request.user.groups.all.0.name == "Manager" %}
    <a href="{% url 'student-create' %}">Add</a>
    <a href="{% url 'course-create' %}">Add Course</a>
{% endif %}

<hr>

{% for student in students %}

    <h3>{{ student.full_name }}</h3>

    <p>Phone: {{ student.phone }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Course: {{ student.course }}</p>

    {% if student.is_active %}
        <p>Active</p>
    {% else %}
        <p>Inactive</p>
    {% endif %}

    <a href="{% url 'student-edit' student.id %}">
        Edit
    </a>

    <a href="{% url 'student-delete' student.id %}">
        Delete
    </a>

    <hr>

    <div>

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}
        &search={{ request.GET.search }}
        &course={{ request.GET.course }}">
                Previous
            </a>
        {% endif %}

        <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}
        &search={{ request.GET.search }}
        &course={{ request.GET.course }}">
                Next
            </a>
        {% endif %}

    </div>
{% empty %}

    <h2>No students found</h2>

{% endfor %}